# Various log and temp files
*.orig
*.rej
*.class
*~
*.o
*.err
*.log
\#*#
*.tmp


dist/
private/
.gradle/

# Gradle build output
build/

# Gradle working dir
.gradle/
.nb-gradle-properties
.nb-gradle/
